# Backend API URL (defaults to localhost for development)
NUXT_PUBLIC_API_BASE=/

SEMANTTA_HOST=127.0.0.1
SEMANTTA_PORT=8000

SEMANTTA_ALLOWED_HOSTS=127.0.0.1,localhost,example.com
SEMANTTA_CORS_ALLOWED_ORIGINS=https://example.com