# Apache Jena Fuseki dataset
FUSEKI_DATASET_URL=http://localhost:3030/dataset_name

# HTTP request timeout for Fuseki operations, in seconds
FUSEKI_TIMEOUT=120

# Production backend server
SEMANTTA_HOST=127.0.0.1
SEMANTTA_PORT=8000